<strong *ngIf="submitMessage" class="error-message">{{submitMessage}}</strong>

<form (ngSubmit)="loginSubmit()" class="login-form">
    <mat-form-field>
        <input class="username" matInput type="text" placeholder="Username" [formControl]="username">
        <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">Username Cannot Be Left Blank
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input class="password" matInput type="password" placeholder="Password" [formControl]="password">
        <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
            <mat-error *ngIf="password.errors.required">Password Cannot Be Left Blank</mat-error>
            <mat-error *ngIf="password.errors.minlength">Password Must Have Minimum 6 Characters</mat-error>
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="(username.invalid || password.invalid)">Login</button>
    
</form>